<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="AntiPatternDetection.commands.category">
      </category>
      <command
            name="one to one"
            categoryId="AntiPatternDetection.commands.category"
            id="AntiPatternDetection.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="AntiPatternDetection.commands.sampleCommand"
            class="antipatterndetection.handlers.AntiPatternHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="AntiPatternDetection.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Antipattern Detection"
               mnemonic="M"
               id="AntiPatternDetection.menus.sampleMenu">
            <command
                  commandId="AntiPatternDetection.commands.sampleCommand"
                  mnemonic="S"
                  id="AntiPatternDetection.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="AntiPatternDetection.toolbars.sampleToolbar">
            <command
                  commandId="AntiPatternDetection.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="AntiPatternDetection.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
